<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead" th:with="title='Usuários'"></head>
<body>
<div th:replace="fragments/layout :: navbar">(navbar)</div>
<div class="container">

    <div class="page-header">
        <h1>
            Usuários
            <small> Lista de usuários cadastrados 999</small>
        </h1>
    </div>

    <div id="custom-toolbar">
        <div class="form-inline" role="form">

            <div class="form-group">
                <label class="sr-only" for="id">Código Usuário</label>
                <input class="form-control" id="id" placeholder="Código Usuário" type="text">
            </div>

            <div class="form-group">
                <label class="sr-only" for="nome">Nome</label>
                <input class="form-control" id="nome" placeholder="Nome" type="text">
            </div>

            <div class="form-group">
                <label class="sr-only" for="nomeusuario">Usuário</label>
                <input class="form-control" id="nomeusuario" placeholder="Usuário" type="text">
            </div>

            <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input class="form-control" id="email" placeholder="Email" type="text">
            </div>

            <button type="submit" id="search" class="btn btn-default">Pesquisar</button>
        </div>
    </div>

    <table id="table"
           data-toggle="table"
           data-url="/usuarios"
           data-height="450"
           data-side-pagination="server"
           data-pagination="true"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-advanced-search="false"
           data-sort-name="nome"
           data-query-params="queryParams"
           data-toolbar="#custom-toolbar"
           data-show-header="false"
           data-classes="table table-hover table-no-bordered">

        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id" data-sortable="true">Código usuário</th>
            <th data-field="nome" data-sortable="true">Nome</th>
            <th data-field="nomeusuario" data-sortable="true">Usuário</th>
            <th data-field="email" data-sortable="true">Email</th>
            <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Item Operate</th>
        </tr>
        </thead>
    </table>
    <button type="button" ng-click="delete()" confirm-if="checked" confirm="Are you sure, {{name}}?">Delete</button>

    <script>
			function queryParams(p) {
				if (!p.search) {
					//return false; // Return false to stop request.			
				}		
				return {
							id: $('#id').val(),
							nome:$('#nome').val(),
							nomeusuario:$('#nomeusuario').val(),
							email:$('#email').val(),							
							sort: p.sort,
							order: p.order,
							limit: p.limit,
							offset: p.offset
				};
			}
				$('#search').click(function () {										
					$("#table").bootstrapTable('refresh');
			});
    </script>

    <script>
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit ml10" href="javascript:void(0)" title="Editar">',
                '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" title="Excluir">',
                '<i class="glyphicon glyphicon-remove"></i>',
            '</a>',
            '<button confirmed-click="removeRowIndex(col, row)" ng-confirm-box-click="Are you sure want to delete?" class="btn btn-xs btn-default"></button>'

        ].join('');
    }

    window.operateEvents = {

        'click .edit': function (e, value, row, index) {
            document.location.href='/usuario/'+ JSON.stringify(row.id) + '/form';
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            alert('You click remove icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        }
    };

    app.directive('ngConfirmBoxClick', [

      function () {
          return {
              link: function (scope, element, attr) {
                  var msg = attr.ngConfirmBoxClick;
                  var clickAction = attr.confirmedClick;
                  element.bind('click', function (event) {
                      if (window.confirm(msg)) {
                          scope.$eval(clickAction)
                      }
                  });
              }
          };
      }
]);




</script>






</div>
<div th:include="fragments/layout :: footer">
</div>
</body>
</html>