<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead" th:with="title='Usuários'"></head>
<body>

<div th:replace="fragments/layout :: navbar">(navbar)</div>
<div class="container">

    <div class="page-header">
        <h1>
            Usuários
            <small> Lista de usuários cadastrados</small>
        </h1>
    </div>

    <div id="custom-toolbar">
        <div class="form-inline" role="form">

            <div class="form-group">
                <label class="sr-only" for="id">Código Usuário</label>
                <input class="form-control" id="id" placeholder="Código Usuário" type="text">
            </div>

            <div class="form-group">
                <label class="sr-only" for="nome">Nome</label>
                <input class="form-control" id="nome" placeholder="Nome" type="text">
            </div>

            <div class="form-group">
                <label class="sr-only" for="nomeusuario">Usuário</label>
                <input class="form-control" id="nomeusuario" placeholder="Usuário" type="text">
            </div>

            <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input class="form-control" id="email" placeholder="Email" type="text">
            </div>

            <!--<div class="form-group">-->
            <!--<label class="sr-only" for="email">Permissão</label>-->
            <!--<select name="permissoes" id="permissoes" class="form-control"></select>-->
            <!--</select>-->
            <!--</div>-->

            <div class="form-group">
                <!--<label class="sr-only" for="email">Permissão</label>-->
                <!--<select name="permissoes" id="permissoes" multiple="multiple" class="testselect3" style="display: none;"></select>-->
                <!--</select>-->


            </div>

            <button type="submit" id="search" class="btn btn-default">Pesquisar</button>
        </div>
        <select id="permissoes" class="js-example-responsive" multiple="multiple" style="width: 95%">
        </select>
    </div>
    <table id="table"
           data-toggle="table"
           data-url="/usuarios"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-height="450"
           data-side-pagination="server"
           data-pagination="true"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-advanced-search="false"
           data-sort-name="nome"
           data-query-params="queryParams"
           data-toolbar="#custom-toolbar"
           data-show-header="true"
           data-classes="table table-hover table-no-bordered">

        <thead>
        <tr>
            <th data-field="id" data-sortable="true">Código usuário</th>
            <th data-field="nome" data-sortable="true">Nome</th>
            <th data-field="nomeusuario" data-sortable="true">Usuário</th>
            <th data-field="email" data-sortable="true">Email</th>
            <th data-field="acoes" data-formatter="operateFormatter" data-events="operateEvents">Ações</th>
        </tr>
        </thead>
    </table>

    <script>
			function queryParams(p) {
				if (!p.search) {
					//return false; // Return false to stop request.			
				}		
				return {
							id: $('#id').val(),
							nome:$('#nome').val(),
							nomeusuario:$('#nomeusuario').val(),
							email:$('#email').val(),
						    permissao:$('#permissoes').val(),
							sort: p.sort,
							order: p.order,
							limit: p.limit,
							offset: p.offset
				};
			}
				$('#search').click(function () {										
					$("#table").bootstrapTable('refresh');
			});
    </script>

    <script>
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit ml10" href="javascript:void(0)" title="Editar">',
                '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" title="Excluir">',
                '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {

        'click .edit': function (e, value, row, index) {
            document.location.href='/usuario/'+ JSON.stringify(row.id) + '/form';
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            var url = "/usuario/" + row.id;
             console.log(value, row, index ,url);
            $('#myModal').data('id', id).modal('show');
            $('#btnDelteYes').click(function () {

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

            $.ajax({
                url: url,
                method: 'DELETE',
                success: function(result) {
                    $('#table').bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });
                },
                    error:function(result) {
                    console.log(result);
                }
            });
                $('#myModal').modal('hide');

            });
        }
    };

    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            //html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            switch(key) {
                 case "nome":
                  html.push('<p><b>Nome:</b> ' + value + '</p>');
                  break;
                 case "nomeusuario":
                  html.push('<p><b>Usuário:</b> ' + value + '</p>');
                  break;
                 case "permissoes":

                  html.push('<table class="table table-striped table-bordered">');
                     html.push('<tr>');
                        html.push('<th>ID</th>');
                        html.push('<th>Permissão</th>');
                     html.push('</tr>');
                  $.each(value, function (key2, value2) {
                    html.push('<tr><td>' + value2.id + '</td><td>' + value2.nomePermissao + '</td></tr>');
                  });
                   html.push('</table>');
                  break;
            }
        });

        return html.join('');
    }





      $.ajax({
         type: "GET",
         url: "/permissoes",
         success: function(json){
            var options = '<option value="">Permissões</option>';
            $.each(json, function(key, value){
               options += '<option value="' + value.id + '">' + value.nomePermissao + '</option>';
            });
            $("#permissoes").html(options);
         }
      });

    $("#permissoes").select2({
        placeholder: "Permissão",
        tags: true
    });
</script>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Atenção!</h3>
                </div>
                <div class="modal-body">
                    <h4> Tem certeza que deseja excluir?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelteYes" href="#">Sim</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/layout :: footer">
</div>
</body>
<csrf/>
</html>