<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead"
	th:with="title='Clientes'"></head>
<body>
	<div th:replace="fragments/layout :: navbar">(navbar)</div>
	<div class="container">

		<div class="page-header">
			<h1>
				Cliente <small> Listagem de cliente</small>
			</h1>
		</div>


		<table class="table table-striped">
			<tr>
				<th>Documento</th>
				<th>Nome</th>
			</tr>
			<tr th:each="cliente : ${clientes}">
				<td th:text="${cliente.doctocliente}">Documento</td>
				<td th:text="${cliente.nomecliente}">Nome</td>
			</tr>
		</table>

	</div>
	<div th:include="fragments/layout :: footer"></div>
</body>
</html>