<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Clientes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<head th:include="fragment/modelo :: headerFragment" />




<body>
	<h1>Teste</h1>

	<div th:include="fragment/modelo :: menuFragment">teste</div>



	<table>
		<tr>
			<th>Documento</th>
			<th>Nome</th>
		</tr>
		<tr th:each="cliente : ${clientes}">
			<td th:text="${cliente.doctocliente}">Documento</td>
			<td th:text="${cliente.nomecliente}">Nome</td>
		</tr>
	</table>

	<div th:include="fragment/modelo :: rodapeFragment" />
</body>
</html>