<div th:fragment="menu">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Início</a></li>

        <!-- Menu Usuário -->
        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" role="button" aria-expanded="false">Usuários
            <span class="caret"></span>
        </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/usuarios">Listar</a></li>
                <li><a href="/usuario/form">Novo</a></li>
            </ul>
        </li>

        <!-- Menu Cliente -->
        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" role="button" aria-expanded="false">Clientes
            <span class="caret"></span>
        </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/cliente">Listar</a></li>
                <li><a href="/cliente/form">Novo</a></li>
            </ul>
        </li>

        <!-- Menu Fornecedor -->
        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" role="button" aria-expanded="false">Fornecedores
            <span class="caret"></span>
        </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/fornecedor">Listar</a></li>
                <li><a href="/fornecedor/form">Novo</a></li>
            </ul>
        </li>
		
		<!-- Permissao -->
        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" role="button" aria-expanded="false">Permissões
            <span class="caret"></span>
        </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/permissao">Listar</a></li>
                
            </ul>
        </li>
		
    </ul>
</div>

